@media (max-width: 1199.98px) {

  /*=====================================building-photos-media-start=======================================*/
  .building-slider {
    .slick-list {
      @include maxWidth(850px);
      margin: 0 auto;
    }
  }

  .building-slider {
    .slick-prev {
      left: -1%;
    }
  }

  .building-slider {
    .slick-next {
      right: -1%;
    }
  }

  /*=====================================building-photos-media-end=======================================*/
  /*=====================================contact-details-media-start=======================================*/
  .contacts-team {
    .contacts {
      margin-right: 35px;

      ul {
        li {
          a {
            font-size: 18px;
          }
        }
      }
    }
  }

  .team-member-list {
    max-width: 640px;
  }

  .member-image {
    margin-right: 10px;
  }

  /*=====================================contact-details-media-end=======================================*/
  /*=======================================Catalog-media-start=================================================*/
  .product-type-main {
    padding: 30px 35px;
  }

  .product-picture {
    width: 190px;
  }

  .registration-input {
    input {
      height: 50px;
      padding-left: 25px;
    }
  }

  .contacts-for-order {
    padding: 25px 20px;
  }

  .information {
    padding-left: 28px;
  }

  /*=======================================Catalog-media-end=================================================*/
  /*=====================================Production-media-start===============================================*/
  .production-cnt {
    .details-share {
      padding: 25px 0;
    }

    .small-title {
      h5 {
        margin-bottom: 25px;
      }
    }

    .quote {
      border: 2px solid rgb(236, 239, 241);
      font-size: 18px;
    }
  }

  .production-information-text {
    margin-top: 30px;
  }

  .quality {
    margin: 30px 0;

    p {
      font-size: 14px;
    }
  }

  .list {
    ul {
      li {
        font-size: 14px;
      }
    }
  }

  .production-left-part {
    width: 68%;
  }

  .production-list {
    h4 {
      margin: 35px 0 25px 0;
    }
  }

  .production-right-part {
    width: 30%;

    .link-list {
      a {
        .link-block {
          padding-left: 15px;

          p {
            font-size: 17px;
            padding-left: 45px;
          }
        }
      }
    }
    
    .news {
      h5 {
        margin-top: 20px;
        margin-bottom: 15px;
      }

      .news-main {
        .news-part {
          .last-news {
            a {
              .news-pic {
                width: 100%;
              }

              .news-title {
                width: 100%;
                text-align: center;
                padding-left: 0;
              }
            }
          }
        }
      }
    }

    .contacts {
      ul {
        margin: 35px 0 25px;

        br {
          display: none;
        }
      }
    }
  }

  /*======================================Production-media-end================================================*/
  /*======================================about-company-media-start================================================*/
  .quotation {
    width: 600px;
    padding: 30px 30px;

    p {
      font-size: 17px;
    }
  }

  /*======================================about-company-media-end================================================*/
}